.container{
    display: flex;
}


menu{
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 100vh;
}

#navigation {
    display: flex;
    flex: 1;
}

h1, h2, p {
    color: white;
}

main{
    
    background-image: url('https://tse2.mm.bing.net/th?id=OIP.JNIwyYU5psIhdgL71ioyAwHaEK&pid=Api');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}